[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/targets"]
	path = bundle/targets
	url = git://github.com/wellle/targets.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git@github.com:rstacruz/sparkup.git
[submodule "bundle/obvious-resize"]
	path = bundle/obvious-resize
	url = git@github.com:talek/obvious-resize.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = git@github.com:craigemery/vim-autotag.git
[submodule "bundle/pasta"]
	path = bundle/pasta
	url = git@github.com:sickill/vim-pasta.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
